@import './modules/variables';
@import './modules/normalize';


* {
    color: $mainColor;
    border: 0;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: $fel;
}

h2 {
    font-size: $fm;
}

.main-container {
    display: flex;
}

.info-box {
    width: 20%;

    &__nav li {
        list-style-type: none;
        font-size: 12px;
    }

    &__nav a {
        color: $secondColor;
    }
}

.content-box {
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}