<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('./header.html') %>
    <title>Patrycja Pająk</title>
</head>
<body class="homepage">
    <nav id="logo" class="logo">
        <h3><a href="index.html" id="logoLink">Patrycja Pająk</a></h3>
        <span id="hamburgerMenu" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </nav>
    <div class="main-container">
        <section id="infoBox" class="info-box">
            <%= require('./menu.html') %>
        </section>
        <section class="content-box">
            <div class="content-box__gallery">
                <img src="https://picsum.photos/789/562" alt="" class="content-box__gallery__image" id="mainImage" />
            </div>
        </section>
    </div>
</body>
</html>