<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <%= require('./header.html') %>
    <title>Patrycja Pająk</title>
</head>
<body class="homepage">
    <%= require('./logo.html') %>
    <div class="main-container">
        <section id="infoBox" class="info-box">
            <%= require('./menu.html') %>
        </section>
        <section class="content-box">
            <div class="content-box__gallery">
                <img src="https://powroty.do/wp-content/uploads/2019/02/patrycja-pajak-1111.jpg" alt="Patrycja Pająk" class="content-box__gallery__image" id="mainImage" />
            </div>
        </section>
    </div>
</body>
</html>